* {
    font-family: "Roboto", sans-serif;
}

/*
    Header
*/
.header {
    height: 300px;
}
.headerNav {
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
}
/*
    Smaller header components for sub pages
*/
.header--small {
    height: 100px;
}
.headerNav--small {
    height: 100%;
    line-height: 50px;
}
.headerNav__title {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px 0px;
}

.headerNav__link--navLink {
    text-decoration: none;
    color: white;
}
.headerNav__link--navLink:hover {
    color: #AAAAAA;
}

/*
    Main
*/
.main__useList {
    list-style: disc;
}

.main__blockquote {
    font-style: italic;
    font-weight: lighter;
    font-size: 3rem;
    text-align: center;
}


.main__header--underline {
    text-decoration: underline;
}

.main__header--bold {
    text-decoration-style: solid;
}

.main__input {
    display: inline;
    width: 15rem;
    border: none;
    border-bottom: 2px dashed #f39c12;
    background: transparent;
    color: #25ba84;
}

.main__input:focus {
    border: none;
    border-bottom: 2px solid #0074D9;
    outline: none;
}


/*
    Handle wrapping of code
*/
.main__pre {

}
.main__pre--wrap {
    white-space: normal;
    word-wrap: break-word;
}

.main__templateValue {
    text-decoration: none;
}

/*.main__pre--highlight {
    color: #f39c12;
}*/

/*
    Footer
*/
.footer {
    height: 50px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__link {
    color: white;
}
.footer__link:hover {
    color: #DDDDDD;
}
