* {
    font-family: "Roboto", sans-serif;
}
.header {
    background-color: #DDDDDD;
    height: 300px;
}
.headerNav {
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
}
.headerNav__list--noStyle {
    list-style: none;
}
.headerNav__link--navLink {
    text-decoration: none;
    color: #39CCCC;
}

.main--bg-silver {
    background-color: #DDDDDD;
}

.main__useList {
    list-style: disc;
}

.main__blockquote {
    font-style: italic;
    font-weight: lighter;
    font-size: 3rem;
    text-align: center;
}


.main__header--underline {
    text-decoration: underline;
}

.main__header--bold {
    text-decoration-style: solid;
}

.footer {
    background-color: #DDDDDD;
    height: 50px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
